/*
 * Modula Default Layout
 *
 * This style is use for default layout.
 *
 */
@media (max-width: 991.98px) {
    .app-modula.modula-sidebar-show .modula-sidebar {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    .app-modula.modula-sidebar-show .modula-content {
        transform: translateX(240px);
    }
}

.modula-wrapper {
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 992px) {
    .modula-wrapper {
        top: 60px;
    }
}

@media (min-width: 992px) {
    .modula-wrapper-two {
        position: relative;
        height: 100%;
        top: auto;
    }
}

.modula-sidebar {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -240px;
    width: 240px;
    border-right: 1px solid rgba(72, 94, 144, 0.16);
    opacity: 0;
    visibility: hidden;
    /*transition: all 0.3s;*/
    animation: fade_in_show 0.5s;
    margin-top: 60px;
}

@media (prefers-reduced-motion: reduce) {
    .modula-sidebar {
        transition: none;
    }
}

@media (min-width: 992px) {
    .modula-sidebar {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
}

.modula-sidebar-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    max-height: 50px;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    display: flex;
    align-items: center;
    padding: 15px 20px;
    display: none;
}

.modula-sidebar-header button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto,
        sans-serif;
    letter-spacing: 0.5px;
}

.modula-sidebar-header button.btn-white {
    font-weight: 700;
}

.modula-sidebar-header button + button {
    margin-left: 10px;
}

.modula-sidebar-header .feather-arrow-right {
    display: none;
}

.modula-sidebar-header button svg {
    width: 12px;
    height: 12px;
    stroke-width: 2.5px;
    margin-top: -1px;
}

.modula-sidebar-toggle {
    white-space: nowrap;
}

.modula-sidebar-toggle svg {
    width: 18px;
    height: 18px;
    stroke-width: 2.5px;
    margin-top: -1px;
    color: #8392a5;
}

.modula-sidebar-toggle span {
    margin-left: 13px;
    font-size: 13.5px;
    color: #656d80;
    animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        /*transform: scale(0)*/
    }

    100% {
        opacity: 1;
        /*transform: scale(1)*/
    }
}

.modula-sidebar-body {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
}

.modula-content {
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .modula-content {
        transition: none;
    }
}

@media (min-width: 992px) {
    .modula-content {
        left: 240px;
    }
}

.modula-content-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.modula-content-header .feather-search {
    color: #8392a5;
    align-self: center;
    width: 18px;
    stroke-width: 2.8px;
    margin-right: 10px;
    margin-top: -2px;
}

.modula-content-header .search-form {
    display: flex;
    align-items: center;
}

.modula-content-header .search-form .form-control {
    border-width: 0;
    background-color: transparent;
    font-size: inherit;
    padding: 0;
    color: #1b2e4b;
}

.modula-content-header .nav-link {
    padding: 0;
}

.modula-content-header .nav-link + .nav-link {
    margin-left: 10px;
}

.modula-content-header .nav-link svg {
    width: 20px;
    height: 20px;
    stroke-width: 2.2px;
}

.modula-content-header .nav-link svg.feather-settings {
    width: 18px;
    height: 18px;
}

.modula-content-body {
    background-color: #f8f9fc;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.modula-content-body.no-header {
    top: 0px;
}

@media (min-width: 1024px) {
    .modula-content-body > div:first-child {
        /*max-width: 1140px;*/
    }

    .modula-sidebar.minimize {
        width: 55px;
    }

    .modula-sidebar.minimize .modula-sidebar-toggle span {
        display: none;
    }

    .modula-sidebar.minimize .modula-sidebar-header {
        padding: 15px 20px;
    }

    .modula-sidebar.minimize .modula-sidebar-body div {
        padding: 0px;
        margin-left: 18px;
        margin-top: 18px;
    }

    .modula-sidebar.minimize .modula-sidebar-body .nav-link span {
        display: none;
    }

    .modula-sidebar.minimize
        .modula-sidebar-body
        .sidebar-nav
        .nav-link.active::before {
        display: none;
    }

    .modula-sidebar.minimize
        .modula-sidebar-body
        .sidebar-nav
        .nav-item.show
        .nav {
        display: none;
    }

    .modula-sidebar.minimize .modula-sidebar-body .sidebar-nav .nav-link svg {
        width: 20px;
        height: 20px;
    }

    .modula-sidebar.minimize .modula-sidebar-body .sidebar-nav .nav-label {
        display: none;
    }

    .modula-sidebar.minimize
        .modula-sidebar-body
        .sidebar-nav
        .nav-link.with-sub::after {
        display: none;
    }

    .modula-content.minimize {
        left: 55px;
    }
}

@media (min-width: 992px) {
    .aside-modula + .content {
        margin-left: 60px;
    }
}

@media (min-width: 1020px) {
    .modula-sidebar-header {
        display: block;
    }
    .modula-sidebar-body {
        top: 55px;
    }
}

@media (min-width: 1200px) {
    .modula-sidebar-header {
        display: block;
    }
    .modula-sidebar-body {
        top: 55px;
    }
}

.sidebar-nav .nav-item + .nav-item {
    margin-top: 15px !important;
}

.nav-line .nav-link {
    padding: 8px 15px;
    cursor: pointer;
    color: #525f70 !important;
    font-weight: 500;
}

.nav-line .nav-link.active {
    color: #0a58ca !important;
}

.nav-line .nav-link:hover {
    color: #0a58ca !important;
}

.nav-line .nav-item + .nav-item {
    margin-left: 0px;
}

.alert-store {
    background-color: #e4efff;
    border-color: #d4e3f9;
    color: #031a7a;
}

.table-product .media-body a {
    font-size: 14px;
    font-weight: 500;
    color: #2b394a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.table-product thead th {
    line-height: 2.3;
}

.table-product thead th .custom-control {
    margin-top: -30px !important;
}

.table-product td,
.table-product th {
    border-top: 1px solid rgb(192 204 218 / 18%);
}

.select2-results__option .wrap:before {
    font-family: "Font Awesome 5 Pro";
    color: #999;
    content: "\f096";
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding-right: 10px;
    color: #fff;
}

.select2-results__option[aria-selected="true"] .wrap:before {
    content: "\f14a";
    font-weight: 900;
}

.select2-results__option[aria-selected="false"] .wrap:before {
    content: "\f0c8";
    color: #5f6c81;
}

.select2-results__option--highlighted[aria-selected="false"] .wrap:before {
    color: #0a58ca;
}

.select2-results__option--highlighted .wrap:before {
    color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected="false"] .wrap::before {
    color: #5f6c81;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fff !important;
    color: #000;
}
.select2-results__option[aria-selected="true"] .wrap::before {
    color: #0a58ca;
}

.select2-container.select2-container--default.multiple.select2-container--open {
    position: fixed !important;
}

.search-form button {
    border: 1px solid #c0ccda;
    border-left-width: 1px !important;
    background-color: #f5f6fa;
}

.btn-filter svg {
    margin-left: 5px;
    background-color: #646161;
    border-radius: 25rem;
    padding: 2px;
    color: #fff;
}

.content-fixed {
    background-color: var(--N50, #f3f4f5);
}

.sidebar-nav .nav-item + .nav-item {
    margin-top: 15px !important;
}

.modal.trash .modal-dialog {
    max-width: 345px !important;
}

.modal.trash .modal-dialog .modal-footer .btn {
    width: 50%;
}

.nav-line .nav-item + .nav-item {
    margin-left: 20px !important;
}

@media (min-width: 992px) {
    .content-fixed {
        margin-left: 240px;
    }
}

@media (min-width: 1200px) {
    .content-fixed {
        margin-left: 240px;
    }

    .content {
        padding: 20px !important;
    }

    .card {
        border-radius: 0.5rem !important;
    }

    .nav-line .nav-link {
        padding: 15px;
    }

    .nav-line .nav-item + .nav-item {
        margin-left: 0px !important;
    }
}

.content-fixed {
    width: 100% !important;
    margin-left: 0px;
    background-color: #fff;
}

/* .filepond--credits {
    display: none;
}

.filepond--root[data-style-panel-layout~="integrated"] {
    background-color: #eaecf026;
    border-radius: 5px;
    height: 122px !important;
    width: 122px;
    border: 2px dashed #e1e5ed;
}

.filepond--root[data-style-panel-layout~="integrated"]:hover {
    border: 2px dashed #0a58ca;
}

.filepond--root[data-style-panel-layout~="integrated"] .filepond--image-preview-wrapper {
    border-radius: 5px;
}

.is-invalid .select2-container--default .select2-selection--single {
    border: 1px solid #dc3545 !important;
    border-radius: 4px;
}

.is-invalid .invalid-feedback {
    display: block !important;
}

.is-invalid .filepond--root[data-style-panel-layout~="integrated"] {
    border: 2px dashed #ee828c;
    background-color: #fff0f2;
    opacity: 1;
}

.filepond--image-preview-overlay svg {
    height: 100px;
}

.filepond--file-info {
    display: none;
}

.nav-line .nav-link {
    padding: 8px 10px !important;
}

.media img {
    object-fit: contain;
    border: 1px solid #f5f4f9;
}

.filepond--image-existed {
    width: 123px;
    height: 123px;
    border: 1px solid #e1e5ed;
    border-radius: 5px;
}

.filepond--image-existed img {
    border-radius: 5px;
} */

.filepond--root .filepond--credits {
    display: none !important;
}

.filepond--root[data-style-panel-layout~="integrated"]
    .filepond--image-preview-wrapper {
    border-radius: 5px;
}

.filepond--image-existed {
    width: 123px;
    height: 123px;
    border: 1px solid #e1e5ed;
    border-radius: 5px;
}

.filepond--image-existed img {
    border-radius: 5px;
}

.filepond--root[data-style-panel-layout~="integrated"] {
    background-color: #eaecf026;
    border-radius: 5px;
    height: 122px !important;
    width: 122px;
    border: 2px dashed #e1e5ed;
}

.is-invalid .filepond--root[data-style-panel-layout~="integrated"] {
    border: 2px dashed #ee828c;
    background-color: #fff0f2;
    opacity: 1;
}

.draggable-mirror {
    position: static;
    width: 100% !important;
}

/**
 * Nestable Draggable Handles
 */

.dd3-content {
    display: block;
    height: 35px;
    margin: 10px 0;
    padding: 5px 10px 5px 50px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 4px;
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-item > button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 40px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f0b2";
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: rgba(27, 46, 75, 0.7);
    font-size: 14px;
}
.dd3-handle:hover {
    /*background: #ddd;*/
}

.dd-empty,
.dd-item,
.dd-placeholder {
    line-height: 22px;
}
.dd-list .dd-list {
    padding-left: 40px;
}
